<div class="index-box">
  <div class="index-box__inner-blogs--user">
    <h2 class="index-box__title-blogs--user">ブログ一覧</h2>
    <div class="index-box__sort-blogs">
      <%= form_with model: @blog, url: blog_search_blogs_path, method: :get, local: true do |f| %>
        <%= f.select :keyword, [ ['投稿か新しい順', 'new'], ['投稿か古い順', 'old'], ['いいねが多い順', 'likes'], ['いいねが少ない順', 'dislikes'] ] %>
        <%= f.submit '並べ替える' %>
      <% end %>
    </div>
    <div class="index-box__new-blogs"><%= link_to '閲覧履歴', blog_history_blogs_path, class: 'EDITlink' %></div>
  </div>
  <div class="index-box__genre-box">
    <% @genres.each do |genre| %>
      <div class="index-box__genre">
        <tr>
          <td>
            <%= link_to genre.name, blog_genre_search_blogs_path('search[value]': genre.id, 'search[how]': "match"), class: 'EDITlink' %>
          </td>
        </tr>
      </div>
    <% end %>
  </div>
  <div class="index-box__blogs-box">
      <% @blogs.reverse_each do |blog| %>
        <div class="index-box__blogs">
          <%= link_to blog_path(blog.id), class: 'EDITlink' do %>
            <div class="index-box__blogs-title"><%= blog.title %></div>
            <div class="index-box__blogs-body-image-genre">
              <div class="index-box__blogs-body"><%= blog.body %></div>
              <div class="index-box__blogs-image-genre">
                <div class="index-box__blogs-image">
                  <% blog.blog_images.first(1).each do |image| %>
                    <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
                  <% end %>
                </div>
                <div class="index-box__blogs-genre">ジャンル: <%= blog.genre.name %></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="index-box__kaminari-blogs">
    <%= paginate @blogs %>
  </div>
</div>


