<h2>ブログ一覧</h2>

<%= link_to '閲覧履歴一覧', blog_history_blogs_path %>

<% @blogs.each do |blog| %>
  <%= link_to blog_path(blog.id) do %>
    <div>
      <div><%= blog.title %></div>
      <div><%= blog.body %></div>
      <div>
        <% blog.blog_images.first(1).each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
        <% end %>
      </div>
      <div><%= blog.genre.name %></div>
    </div>
  <% end %>
<% end %>