<h2>ブログ詳細</h2>

タイトル：<%= @blog.title %><br>
投稿内容：<%= @blog.body %><br>
投稿画像：
<% @blog.blog_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
<% end %><br>
ジャンル：<%= @blog.genre.name %><br>
投稿日時：<%= @blog.created_at %><br>
<div id="like_buttons_<%= @blog.id %>">
  <%= render partial: 'users/blog_likes/like', locals: { blog: @blog } %>
</div>

<h4>コメント一覧</h4>

<div>
  <%= render 'users/comments/index', comments: @comments %>
</div>

<h4>コメント入力欄</h4>

<div>
  <%= render 'users/comments/form', comment: @comment, blog: @blog %>
</div>
