<h2>マイページ</h2>

登録情報：<%= link_to '編集する', edit_user_registration_path %><br>

氏名：<%= @user.family_name %><%= @user.name %><br>

フリガナ：<%= @user.family_name_kana %><%= @user.name_kana %><br>

郵便番号：〒<%= @user.postal_code %><br>

住所：<%= @user.prefecture_name %><%= @user.city %><br>

電話番号：<%= @user.phone_number %><br>

メールアドレス：<%= @user.email %><br>

配送先：<%= link_to '追加/一覧', receivers_path %>

注文履歴：<%= link_to '一覧へ', orders_path %>

<%= link_to '退会する', unsubscribe_users_path %>