<h2>商品詳細</h2>

商品名<%= @item.name %><br>

商品説明<%= @item.description %><br>

商品画像：
<% @item.item_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
<% end %><br>


ジャンル<%= @item.genre.name %><br>

税抜価格（税込価格）<%= @item.price %><%= (@item.price * 1.08).round %><br>

在庫<%= @item.count %><br>

<% if @item.count == 0 %>
  在庫がありません。入荷をお待ちください。
<% elsif user_signed_in? %>
  <%= form_with(model:[@cart_item], local: true) do |f| %>
    <div>
      個数選択
      <%= f.select :count, [*1..10] %>
      <%= f.hidden_field :item_id, value: @item.id %>
    </div>
    <div>
      <%= f.submit 'カートに入れる' %>
    </div>
  <% end %>
<% else %>
  購入するには、ログインが必要です。
  ログインは、<%= link_to 'こちらへ', user_session_path %>
<% end %>

<% if @item.reviews.present? %>
  総合評価<br>

  レビュー一覧<br>
  <% @item.reviews.reverse_each do |review| %>
    <%= review.user.nickname %>

    <div id="star-rate-<%= review.id %>"></div>
      <script>
      $('#star-rate-<%= review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.rate %>,
      });
      </script>

    <%= review.title %><br>
    <%= review.body %>
    <% review.review_images.each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
    <% end %><br>
    <% if review.user == current_user %>
      <div>
        <%= link_to "削除", item_review_path(review.item, review), method: :delete %>
      </div>
    <% end %>
  <% end %>
<% end %>


