<h2>ジャンル編集</h2>

<%= form_with(model:[:admins, @genre], local:true) do |f| %>
  <div class='field'>
    <%= f.label :genre_status, '対象' %>
    <div>
      <%= f.radio_button :genre_status, true %>
      <%= f.label :genre_status, 'ブログ', value:true %>
    </div>
    <div>
      <%= f.radio_button :genre_status, false %>
      <%= f.label :genre_status, '商品', value:false%>
    </div>
  </div>
  <div class='field'>
    <%= f.label :name, 'ジャンル名' %>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.submit '変更を保存' %>
  </div>
<% end %>