
<%= form_with model: review, url: item_reviews_path(item.id), local: true do |f| %>
  <div id="star">
    <%= f.label :rate, '評価' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <script>
    $('#star').raty({
      size     : 36,
      starOff  : '<%= asset_path('star-off.png') %>',
      starOn   : '<%= asset_path('star-on.png') %>',
      starHalf : '<%= asset_path('star-half.png') %>',
      scoreName: 'review[rate]',
      half: true,
    });
  </script>

  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, 'レビュー内容' %>
    <%= f.text_area :body, rows: "5", placeholder:'レビュー内容を書き込んでください。' %>
  </div>
  <div>
    <%= f.submit 'レビューを書く' %>
  </div>
<% end %>
