総合評価<br>

<div id="average-rate"></div>
      <script>
      $('#average-rate').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @average_review %>,
      });
      </script>

<%= @average_review %>点<br>

レビュー一覧<br>
  <% @reviews.reverse_each do |review| %>
    <%= review.user.nickname %>

    <div id="star-rate-<%= review.id %>"></div>
      <script>
      $('#star-rate-<%= review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.rate %>,
      });
      </script>
    <%= review.rate %>点<br>

    <%= review.title %><br>
    <%= review.body %>
    <% review.review_images.each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
    <% end %><br>
    <% if review.user == current_user %>
      <div>
        <%= link_to "削除", item_review_path(review.item, review), method: :delete %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @reviews %>