<div class="index-box">
  <div class="index-box__title">
    <h2>会員一覧</h2>
  </div>
  <div class="index-box__table">
    <table>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to admins_user_path(user.id) do %>
            <%= user.family_name %><%= user.name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_deleted == false %>
            <div class="index-box__table--green">有効</div>
          <% else %>
            <div class="index-box__table--gray">退会</div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="index-box__kaminari-users">
    <%= paginate @users %>
  </div>
</div>
