<div class="show-box">
  <div class="show-box__title">
    <h2><%= @user.family_name %> <%= @user.name %> さんの会員情報</h2>
  </div>
  <div class="show-box__user-date">
    <div class="show-box__element">
      <div class="list">会員ID：</div>
      <div class="list">氏名：</div>
      <div class="list">フリガナ：</div>
      <div class="list">郵便番号：</div>
      <div class="list">住所：</div>
      <div class="list">電話番号：</div>
      <div class="list">メールアドレス：</div>
      <div class="list">会員ステータス：</div>
    </div>
    <div class="show-box__date">
      <div class="list"><%= @user.id %></div>
      <div class="list"><%= @user.family_name %><%= @user.name %></div>
      <div class="list"><%= @user.family_name_kana %><%= @user.name_kana %></div>
      <div class="list">〒<%= @user.postal_code %></div>
      <div class="list"><%= @user.prefecture_name %><%= @user.city %></div>
      <div class="list"><%= @user.phone_number %></div>
      <div class="list"><%= @user.email %></div>
      <div class="list">
        <% if @user.is_deleted == false %>
          <div class="show-box__date--green">有効</div>
        <% else %>
          <div class="show-box__date--gray">退会</div>
        <% end %>
      </div>
    </div>
  </div>
</div>