<div class="order-index-box">
  <div class="order-index-box__title">
    <h2>注文履歴一覧</h2>
  </div>
  <div class="order-index-box__table">
    <table>
      <tr>
        <th>注文日時</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
      <% @orders.reverse_each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td>
            〒<%= order.postal_code %><br>
            <%= order.prefectures %><%= order.city %><br>
            <%= order.name %>
          </td>
          <td>
            <% order.order_items.each do |order_item| %>
              <div><%= order_item.item.name %>
            <% end %>
          </td>
          <td><%= order.amount %>円</td>
          <td>
            <% if order.shipping_status == 0 %>
              <div class="order-index-box__table--red">入金待ち</div>
            <% elsif order.shipping_status == 1 %>
              <div class="order-index-box__table--red">発送準備中</div>
            <% elsif order.shipping_status == 2 %>
              <div class="order-index-box__table--gray">発送完了</div>
            <% else %>
              <div class="order-index-box__table--green">お届け済み</div>
            <% end %>
          </td>
          <td><%= link_to '表示', order_path(order.id), class: 'EDITlink' %></td>
        </tr>
      <% end %>
    </table>
    <div class="index-box__kaminari-orders">
      <%= paginate @orders %>
    </div>
  </div>
</div>