<p>コメント件数：<%= @comments.count %></p>
  <% @comments.each do |comment| %>
    <%= comment.user.nickname %><br>
    <%= comment.comment %><br>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <% if comment.user == current_user %>
      <div>
        <%= link_to "削除", blog_comment_path(comment.blog, comment), method: :delete %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @comments %>
  