<h2>注文履歴一覧</h2>

<table>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>ステータス</th>
  </tr>
  <% @orders.reverse_each do |order| %>
    <tr>
      <td>
        <%= link_to admins_order_path(order.id) do %>
          <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        <% end %>
      </td>
      <td><%= order.user.family_name %><%= order.user.name %></td>
      <td><%= order.order_items.sum(:count) %></td>
      <td>
        <% if order.shipping_status == 0 %>
          入金待ち
        <% elsif order.shipping_status == 1 %>
          発送準備中
        <% elsif order.shipping_status == 2 %>
          発送完了
        <% else %>
          お届け済み
        <% end %>
      </td>
    </tr>
  <% end %>
</table>