<h2>ブログ詳細</h2>

タイトル：<%= @blog.title %><br>
投稿内容：<%= @blog.body %><br>
投稿画像：
<% @blog.blog_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 120, 80, fallback: "no_image.jpg", size: "120x80" %>
<% end %><br>
ジャンル：<%= @blog.genre.name %><br>
投稿日時：<%= @blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %>

<h4>コメント一覧</h4>

<h4>コメント入力欄</h4>

<%= link_to '投稿記事を編集', edit_admins_blog_path %>
<%= link_to '投稿記事を削除', admins_blog_path(@blog.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか?' } %>