<h2>配送先編集</h2>

<%= form_with(model:[@receiver], local: true) do |f| %>
  <div class='field'>
    <%= f.label :postal_code, '郵便番号' %>
    <%= f.text_field :postal_code %>
  </div>

  <div class='field'>
    <%= f.label :prefectures, '都道府県' %>
    <%= f.text_field :prefectures %>
  </div>

  <div class='field'>
    <%= f.label :city, '住所' %>
    <%= f.text_field :city %>
  </div>

  <div class='field'>
    <%= f.label :name, '宛名' %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit '変更を保存' %>
  </div>
<% end %>